HOST1="localhost"
HOST1_SSH_PORT=2222
HOST1_SSH_USER="root"
HOST1_SSH_PRIVATE_KEY_PATH=""

HOST2="localhost"
HOST2_SSH_PORT=2223
HOST2_SSH_USER="root"
HOST2_SSH_PRIVATE_KEY_PATH=""

ALL_HOSTS=($HOST1 $HOST2)
ALL_HOSTS_SSH_PORT=($HOST1_SSH_PORT $HOST2_SSH_PORT)
ALL_HOSTS_SSH_USER=($HOST1_SSH_USER $HOST2_SSH_USER)
ALL_HOSTS_SSH_PRIVATE_KEY=($HOST1_SSH_PRIVATE_KEY_PATH $HOST2_SSH_PRIVATE_KEY_PATH)
ALL_HOSTS_NUMS=${#ALL_HOSTS[@]}